version: '3'
services:
  app:
    build: .
    ports:
      - 8081:8081
    environment:
      - APP_PORT=8081
      - DEBUG_MODE=0
      - DB_HOST=db
      - DB_NAME=admsjs
      - DB_USER=root
      - DB_PASSWORD=some_very_secure_password
      - JWT_SECRET=Replace_This_Secret
      - JWT_EXPIRY=30h
      - WHITELIST=0
      - DEFAULT_TZ=7
      - REALTIME_SYNC_MODE=1
      - BATCHED_SYNC_SCHEDULE=* * * * *
      - MAX_COMMAND_PER_REQUEST=100
      - DATA_PURGE=1
      - DATA_PURGE_SCHEDULE=0 5 * * *
      - LOGS_PURGE=1
      - LOGS_PURGE_AGE=14 days
      - COMMAND_PURGE=1
      - COMMAND_PURGE_AGE=14 days
      - ATTENDANCE_PURGE=1
      - ATTENDANCE_PURGE_AGE=14 days
      - MACHINE_PURGE=1
      - MACHINE_PURGE_AGE=31 days
    depends_on:
      - db
  db:
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=some_very_secure_password
      - MYSQL_DATABASE=admsjs